h1{
	font-size:50px ;
	text-align: center;
	color: skyblue;
}

img {
  width: 100%;
  margin-left: auto; 
  margin-right: auto;
}

figcaption {
    font-size: 1em;
    margin-bottom: 0%; 
 }

figure {
  margin-top:40px;
  margin-left: 10%; 
  margin-right: 10%;
  align-content: center;
  position: relative;
}

.column {
  float: left;
  width: 30%;
  padding: 0px;
  align-content: center;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: inline-flex;
}

.row {
  display: inline-flex;
  width: 100%;
}

.column {
  flex: 25.25%;
  padding: 5px;
}


/*Before and After clicks*/
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
}

a:hover {
  background-color: skyblue;
  color: black
}

.round {
  border-radius: 50%;
}

