/*Playing with postioning (random) and scaling*/
/*To hide content unhide the color in the links section and change margin locations of each line - don't forget to play with size so the fit the page*/



h1 {
	font-size: 50px;
	color: skyblue;
	text-align: center;
	font-family: 'Special Elite', cursive;
}

h2{
	text-align: center;
	font-family: 'Special Elite', cursive;
}

p{
	text-align: center;
}

body{
	background-color: ghostwhite;
}

/*-links-*/
a{
	text-decoration: none;
	/*color: ghostwhite;*/
}

a:hover{
	color: skyblue;
	animation-name: h2; 
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

/*--1--*/
.P1{
	font-family: Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
	font-size: 2px;
	color: black; /*connects to the sentence under the heading*/
}

.Grow1 { 
	transition: all .2s ease-in-out; 
	text-align: center;	
	font-family: Arial, sans-serif;
}

.Grow1:hover { 
	transform: scale(45); 
}

/*--2--*/
.P2{
	font-family: Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
	font-size: 2px;
	color: black; /*connects to the sentence under the heading*/
}

.Grow2 { 
	transition: all .2s ease-in-out; 
	text-align: center;	
	font-family: Arial, sans-serif;
}

.Grow2:hover { 
	transform: scale(25); 
}
	
/*--3--*/
.P3{
	font-family: Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
	font-size: 2px;
	color: black; /*connects to the sentence under the heading*/
}

.Grow3 { 
	transition: all .2s ease-in-out; 
	text-align: center;	
	font-family: Arial, sans-serif;
}

.Grow3:hover { 
	transform: scale(30); 
}
	
/*--4--*/
.P4{
	font-family: Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
	font-size: 2px;
	color: black; /*connects to the sentence under the heading*/
}

.Grow4 { 
	transition: all .2s ease-in-out; 
	text-align: center;
	font-family: Arial, sans-serif;
}

.Grow4:hover { 
	transform: scale(15); 
}


/*--5--*/
.P5{
	font-family: Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
	font-size: 2px;
	color: black; /*connects to the sentence under the heading*/
}

.Grow5 { 
	transition: all .2s ease-in-out; 
	text-align: center;	
	font-family: Arial, sans-serif;
}

.Grow5:hover { 
	transform: scale(24); 
}

/*--6--*/
.P6{
	font-family: Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
	font-size: 2px;
	color: black; /*connects to the sentence under the heading*/
}

.Grow6 { 
	transition: all .2s ease-in-out; 
	text-align: center;	
	font-family: Arial, sans-serif;
}

.Grow6:hover { 
	transform: scale(35); 
}


