
body {
    margin: 20px; /* Add spacing around the entire page */ 
}

h1 {
	font-size: 20px;
	text-align: center;
}

h2{
	font-size:50px ;
	text-align: center;
	color: skyblue;
}

h3{
	font-size:15px ;
	text-align: center;
}

img {
    margin-bottom: 10px;
}

.figure1{
  width: 30%;
  margin-top:40px;
  margin-left: 10%; 
  margin-right: 10%;
  align-content: center;
}

figcaption {
    font-size: 1em;
    margin-left: 10%; 
 }

.figure1, figcaption {
    margin-bottom: 50px;
    margin-left: 10%; 
}

.column {
  float: left;
  width: 30%;
  padding: 0px;
 }

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: inline-flex;
 }

.row {
  display: inline-flex;
  width: 100%;
}

.column {
  flex: 25.25%;
  padding: 5px;
}

/*Before and After clicks*/
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
}

a:hover {
  background-color: skyblue;
  color: black;
}

.round {
  border-radius: 50%;
}