h1{
	color: skyblue;
	text-align: center;
}

p{
	font-size: 20px;
	font-size: normal;
}

span{
	color: skyblue;
}

/*Before and After clicks*/
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
}

a:hover {
  background-color: skyblue;
  color: black;
}

.round {
  border-radius: 50%;
}